@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap");

.glowne {

	display: flex;
	background-color: #151528;
	margin: 15px 10px;
  padding-bottom: 4.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
	border-radius: 25px;
  align-items: center;
	height: calc(auto + 11.5rem);
}


.main p  {
  justify-content: center;
  padding: 0 4.5rem;
  padding-left: 0;
  font-size: large;
  font-family: "Red Hat Display", sans-serif;
  color: white;
}

.main h1 {
  padding: 4.5rem 4.5rem 0;
	color: white;
  padding-left: 0;

  font-size: 2.5rem;
	font-family: "Red Hat Display", sans-serif;
}


.main button {
  width: 300px;
  transition: 0.5s ease-in-out;
  outline: none;
  
  border: none;
  border-radius: 5px;
  font-family: "Red Hat Display", sans-serif;
  color: whitesmoke;
  cursor: pointer;
  height: 50px;
  background-color: #222B48;
}

.main button i {
  margin-right: 5px;
}


.main button:hover {
  transform: scale(1.1);
}

.kontakt {

	display: flex;
	background-color: #151528;
	margin: 15px 10px;
  padding-bottom: 4.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
	border-radius: 25px;
  align-items: center;
	height: calc(auto + 11.5rem);
  
}


.footer {
  font-family: "Red Hat Display", sans-serif;
  color: white;
  text-align: center;
}

.footer p {
  font-size: 20px;

}

.sup {

  font-size: 20px;
}

.portfolio {

	display: flex;
	background-color: #151528;
	margin: 15px 10px;
  padding-bottom: 4.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
	border-radius: 25px;
  align-items: center;
	height: calc(auto + 11.5rem);
  
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #222b48;
}

::-webkit-scrollbar-thumb {
	background: #1e223d;
}

::-webkit-scrollbar-thumb:hover {
	background: #273250;
}
